<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">O-virt Log Analyzer</a>
   </div>
</div>
<div>
	<br>
	<br>
	<br>
</div>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Select engine File</h3>
      </div>
      <hr/>
      <div>
      
      <form action="search" method="post" enctype="multipart/form-data">
        <input type="file" name="engine_file"><br /><br />
        <h3 class="text-muted">Select VDSM File</h3>
        <hr/>
        <input type="file" name="vdsm_file1"><br /><br />
        <input type="file" name="vdsm_file2"><br /><br />
        <!-- <div class="form-group"> -->
        	Enter Start Time:<input type="text" name="start_time"><br><br>
        	Enter End Time :<input type="text" name="end_time"><br>
        <!-- </div> -->
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
      </div>
    </div>

</body>
</html>